<div
  style="
    font-family: Helvetica, Arial, sans-serif;
    min-width: 1000px;
    overflow: auto;
    line-height: 2;
  "
>
  <div style="margin: 50px auto; width: 70%; padding: 20px 0">
    <div style="border-bottom: 1px solid #eee">
      <a
        href=""
        style="
          font-size: 1.4em;
          color: #00466a;
          text-decoration: none;
          font-weight: 600;
        "
        >Belega Commerce</a
      >
    </div>
    <p style="font-size: 1.1em">Hi,</p>
    <p>
      You have request an OTP. Please use the following OTP Code to complete web
      requirements. This Code is valid for 1 minutes
    </p>
    <h1
      style="
        background: #00466a;
        margin: 0 auto;
        width: max-content;
        padding: 0 10px;
        color: #fff;
        border-radius: 4px;
      "
    >
      <%=otp%>
    </h1>
    <p>
      If you feel that you have never made this OTP code request, please ignore
      this email and don't share this OTP into other users.
    </p>
    <p style="font-size: 0.9em">Regards,<br />B-Commerce</p>
    <hr style="border: none; border-top: 1px solid #eee" />
    <div
      style="
        float: right;
        padding: 8px 0;
        color: #aaa;
        font-size: 0.8em;
        line-height: 1;
        font-weight: 300;
      "
    >
      <p>B-Commerce</p>
      <p>Indonesia</p>
    </div>
  </div>
</div>
